@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body {
  font-family: "Open Sans";
  font-size: 14px;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
button {
  font-family: inherit;
}

.w-container-fluid {
  width: 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.w-full-page {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-bg-gray {
  background-color: #f5f5f5;
}

.w-container {
  width: 400px;
  min-height: 750px;
  position: relative;
  -webkit-box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.w-h1 {
  font-weight: 600;
  font-size: 36px;
  color: #388b3b;
}

.w-form-container {
  padding: 20px;
}

.w-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w-tabs .w-tab-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.w-tabs .w-tab-item a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #4CAF50;
  font-weight: 600;
}

.w-tabs .w-tab-item a.active {
  background-color: #388b3b;
}

.w-tabs-content {
  position: absolute;
  top: calc(0% + 50px);
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
}

.w-tabs-content.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.w-form .w-form-control {
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}

.w-form .w-form-control input {
  height: 50px;
  width: 100%;
  position: relative;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  z-index: 10;
}

.w-form .w-form-control input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}

.w-form .w-form-control input:focus ~ .process::after, .w-form .w-form-control input:focus ~ .process::before {
  width: 50%;
}

.w-form .w-form-control input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}

.w-form .w-form-control label {
  position: absolute;
  top: 0;
  left: 0;
  color: #424242;
  font-weight: 300;
  font-size: 18px;
  line-height: 50px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.w-form .w-form-control .process {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #424242;
}

.w-form .w-form-control .process::after, .w-form .w-form-control .process::before {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  background-color: #4CAF50;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.w-form .w-form-control .process::after {
  right: 50%;
}

.w-form .w-form-control .process::before {
  left: 50%;
}

.w-form .w-form-control .error {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  font-style: italic;
  color: #FF5252;
  visibility: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  opacity: 0;
}

.w-form .w-form-control .error.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.w-form .w-form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.w-btn {
  display: inline-block;
  padding: 8px 36px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  outline: none;
}

.w-btn--success {
  background: #388b3b;
}

.w-btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.w-notification {
  width: 100%;
  max-width: 200px;
  min-height: 50px;
  height: auto;
  position: fixed;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-weight: 600;
  font-style: italic;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.w-notification--success {
  background-color: #4CAF50;
}

.w-notification--error {
  background-color: #FF5252;
}

.w-notification.show {
  visibility: visible;
  opacity: 1;
}

.w-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.w-loading.show {
  visibility: visible;
  opacity: 1;
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading div {
  left: 70.97px;
  top: 36.24px;
  position: absolute;
  -webkit-animation: loading linear 1s infinite;
          animation: loading linear 1s infinite;
  background: #1976D2;
  width: 9.06px;
  height: 18.12px;
  border-radius: 4.53px / 9.06px;
  -webkit-transform-origin: 4.53px 39.26px;
          transform-origin: 4.53px 39.26px;
}

.loading div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -0.9166666666666666s;
          animation-delay: -0.9166666666666666s;
  background: #1976D2;
}

.loading div:nth-child(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: -0.8333333333333334s;
          animation-delay: -0.8333333333333334s;
  background: #1976D2;
}

.loading div:nth-child(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
  background: #1976D2;
}

.loading div:nth-child(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: -0.6666666666666666s;
          animation-delay: -0.6666666666666666s;
  background: #1976D2;
}

.loading div:nth-child(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: -0.5833333333333334s;
          animation-delay: -0.5833333333333334s;
  background: #1976D2;
}

.loading div:nth-child(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  background: #1976D2;
}

.loading div:nth-child(7) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: -0.4166666666666667s;
          animation-delay: -0.4166666666666667s;
  background: #1976D2;
}

.loading div:nth-child(8) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: -0.3333333333333333s;
          animation-delay: -0.3333333333333333s;
  background: #1976D2;
}

.loading div:nth-child(9) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
  background: #1976D2;
}

.loading div:nth-child(10) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: -0.16666666666666666s;
          animation-delay: -0.16666666666666666s;
  background: #1976D2;
}

.loading div:nth-child(11) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: -0.08333333333333333s;
          animation-delay: -0.08333333333333333s;
  background: #1976D2;
}

.loading div:nth-child(12) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background: #1976D2;
}

.loading-container {
  width: 151px;
  height: 151px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.loading {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.loading div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* ==== Home ==== */
.w-wrappper {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f5f5;
}

.w-wrappper .w-header {
  height: 75px;
  position: absolute;
  top: 0;
  right: 0;
  left: 280px;
  padding: 10px;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.w-wrappper .w-header__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-wrappper .w-header__btn {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.w-wrappper .w-header__breadcrum {
  font-size: 18px;
  font-weight: 500;
}

.w-wrappper .w-aside {
  max-height: 100%;
  width: 280px;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.w-wrappper .w-aside::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(54, 54, 54, 0.8);
  z-index: -1;
}

.w-wrappper .w-aside__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.5);
}

.w-wrappper .w-aside__logo span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.w-wrappper .w-aside__nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.w-wrappper .w-aside__nav ul li {
  padding-left: 10px;
  padding-right: 10px;
}

.w-wrappper .w-aside__nav ul li a {
  display: block;
  padding: 12px 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 4px;
  font-size: 18px;
}

.w-wrappper .w-aside__nav ul li a i {
  width: 100%;
  max-width: 30px;
  display: inline-block;
}

.w-wrappper .w-aside__nav ul li a:hover {
  background-color: #4CAF50;
}

.w-wrappper .w-main {
  padding: 80px 0px 0px 280px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.w-wrappper .w-main__content {
  padding: 20px;
}

.w-wrappper .w-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.w-wrappper .w-footer__copyright {
  padding: 15px;
}

.w-toggle-hidden {
  -webkit-transform: translateX(-280px) !important;
          transform: translateX(-280px) !important;
}
/*# sourceMappingURL=main.css.map */